
.drop-area{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 5px double white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-image: linear-gradient(to right,  red,orange,yellow,indigo,violet);
    display: flex;
    justify-content: space-between;
}


.drop-area{
    width: 600px;
    height: 300px;
    background-color: aqua;
}

.drop-area i{
    font-size: 50px;
    color: aquamarine;
    cursor: pointer;
}

.drop-area i:hover{
    font-size: 100px;
    color: chartreuse;
    cursor: pointer;
}

.table th{
    color: #fff;
}

.table td{
    color: #fff;
}
.uploader {
    position: relative;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #888;
    border-radius: 7px;
    cursor: default;
  }
  
  #filePhoto {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  

  .animate-charcter{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-image: url(../img/tree-736885\ \(1\).jpg);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
    margin-left: 380px;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content h2 {
  color: #fff;
  font-size: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
